@import "tailwindcss";


* {
  font-family: var(--font-roboto-condensed), sans-serif;
}

.h1 {
  font-size: clamp(3.125rem, 2.1684rem + 3.4014vw, 6.25rem);
}

.p {
  font-size: clamp(1.25rem, 1.1543rem + 0.3401vw, 1.5625rem);
}